<form>
  <div class="form-group">
    <label>Edit note</label>
    {{input type="text" class="form-control" value=model.comment placeholder="add recipe..."}}
  </div>
  <button {{action 'editTask' model.id}} class="btn btn-primary">Submit</button>
</form>
